@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}



body {
 margin: 0px;
}
/* NAVBAR */
.nav {
  @apply
    w-full
    flex
    items-center
    justify-between
}
.navlinks {
  @apply 
    text-sm
    font-bold
    uppercase
    tracking-wider;
}

.avatar {
  @apply
    align-bottom
    
}